@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
    font-family: 'Pretendard-Regular';
    display: flex;
    background-color: blue;
    padding: 0;
    margin: 0;
}
.page{
    display: flex;
    flex-direction: column;
    width:100%;
    height:100vh;
}
.page-top{
    display:flex;
    align-items: center;
    justify-content: left;
    padding-left: 1rem;
    background-color: green;
    height: 4rem;
    font-size: 2rem;
}
.page-middle{
    display:flex;
    flex-grow:1;
    width:100%;
}
.frame-area{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: blue;
}
.right-sidebar{
    display: flex;
    flex-direction: column;
    background: hsla(103, 50%, 50%, 1.0);
    min-width: 16em;
    width: 30%;
    overflow-x:hidden;
    overflow-y:scroll;
}
.right-sidebar-section{
    display:flex;
    flex-direction: column;
    margin-bottom: 2px;
    height: fit-content;
}
.edge-custom1{
    border-top: 4px solid #cf7f40;
}
.edge-custom2{
    border-top: 4px dashed #cf7f40;
}
.node-data-text{
    width: 100%;
    height: 360px;
    overflow:scroll;
}
.sidebar-wnd{
    width: 100%;
    background-color: darkgreen;
    border-radius: 6px;
    display:flex;
    flex-direction: column;
}
.sidebar-wnd-titlebar{
    height: 1rem;
    padding-left: 0.5rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    display:flex;
    background-color: aliceblue;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.sidebar-wnd-form{
    display:flex;
    flex-direction: column;
    background-color: #cf7f40;
    height: 100%;
    padding: 1rem;
    color:black;
}
.sidebar-wnd-form-row{
    display:flex;
    flex-direction: row;
}
.sidebar-wnd-form-row-label{
    width: 5rem;
    display:flex;
    justify-content: left;
    align-items: center;
}
.sidebar-wnd-form-row-input{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    color:black;
}
.hidden{
    display:none;
}