.frame{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #142118;  
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.node{
    position: absolute;
    display:flex-inline;
    border: 2px solid transparent;
    overflow: visible;
    min-width: 36px;
    min-height: 36px;
}
.node-content-text {
    width:max-content;
    min-width: 32px;
    min-height: 32px;
    background-color: #1d6e21;
    border-radius: 8px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.node-content-image{
    min-width: 32px;
    min-height: 32px;
    width: 100%;
    height: 100%;
    background-color: none;
    border:none;
    object-fit: contain;
    
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.node.selected{
    border: 2px solid #cf7f40    
}
.edge{
    position: absolute;
    background-color: none;
    border-top: 4px solid #ffffff;
    transform-origin: left center;
}
.edge.selected{
    border: 2px solid red;
}
