.page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.frame1{
    width: 800px;
    height: 600px;
    margin-bottom: 1rem;
}
.frame2{
    width: 800px;
    height: 600px;
    margin-bottom: 1rem;
}